.reset-password {
  display: flex;
}

.reset-password-background {
  width: 100%;
  height: 80vh;
  background-image: url("../../assets/product_background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.reset-password-container {
  width: 520px;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.reset-password-container input,
.reset-password-container button {
  height: 56px;
  border-radius: 12px;
  font-family: oswald;
}

.reset-password-container input {
  padding: 0 18px;
  border: 1px solid #c9c9c9;
}

.reset-password-container button {
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}